//fonts
$logoFont: 'Josefin Sans Bold', sans-serif;
$mainFont: 'Aleo';
$textFont: 'Josefin Sans Light',sans-serif;
$subFont: 'Josefin Sans',sans-serif;

//colors
$textColor: #ffffff;
$navColor: #5373FD;
$redIcon: #ff6033;
$textGrey: #999999;
$darkGrey: #333333;
$cardColor: #232323;
$footerBgColor: #000000;